{% extends "base.html" %} {% block title %}Posts{% endblock %} {% block body %}
<h1>Update Product</h1>
    <div>
        <form method="POST" action="/cybercom/php/MVC/public/Admin/Productt/updateData/{{ post.product_id }}">
            <div>
                <label>Enter Product Name:</label><input type="text" name="product_name" value="{{ post.product_name }}">
            </div>
            <div>
                <label>Enter Product Price:</label><input type="number" name="price" value="{{ post.price }}">
            </div>
            <div>
                <label>Enter Product Stock:</label><input type="number" name="stock" value="{{ post.stock }}">
            </div>
            <div>
                <label>Enter Product Short Description:</label><input type="text" name="short_description" value="{{ post.short_description }}">
            </div>
            <div>
                <label>Enter Product Description:</label><textarea name="description">{{ post.description }}</textarea>
            </div>
            <div>
                <label>Enter Product Image:</label><input type="file" name="image" value="{{ post.image }}">
            </div>
            <div>
                <label>Select Product Category</label>
                <select name="category">
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            </div>
            <div>
                <input type="submit" value="UPDATE PRODUCT">
            </div>
        </form>
    </div>

{% endblock %}
