 

{% extends "base.html" %} {% block title %}Category{% endblock %} {% block body %}
<h1>Categories</h1>
<form method="POST" action="/cybercom/php/MVC/public/Admin/Categories/viewCategory">
  <button>Add Category</button>
</form>
<!-- {% if category == null %}
<p>NO category ADDED</p>
{% else %}
{% endif %} -->
<table>
    <tr>
    <th>Category Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Parent Category</th>
    <th colspan="2">ACTION</th>
</tr>
  {% for category in categories %}
  <tr>
    <td>{{ category.category_name }}</td>
    <td>{{ category.description }}</td>
    <td><img src="../../../public/image/category/{{ category.image }}" width="100px" height="100px"></td>
    <td>{{ category.parent_category_id }}</td>
    <td><a href="/cybercom/php/MVC/public/Admin/Categories/update/{{ category.category_id }}">UPDATE</a></td>
    <td><a href="/cybercom/php/MVC/public/Admin/Categories/delete/{{ category.category_id }}">DELETE</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}



