<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/cybercom/php/MVC/public/Admin/Productt/product">
 <button>Manage Products</button>
</form>
<form method="POST" action="/cybercom/php/MVC/public/Admin/Categories/category">
 <button action="">Manage Categories</button>
</form>
<form method="POST" action="/cybercom/php/MVC/public/Admin/Cms/pages">
 <button action="">Manage CMS</button>
</form>
</body>
</html>