 

{% extends "base.html" %} {% block title %}Cms{% endblock %} {% block body %}
<h1>PAGES</h1>
<form method="POST" action="/cybercom/php/MVC/public/Admin/CMS/pages/viewCms">
  <button>Add Page</button>
</form>
<!-- {% if category == null %}
<p>NO category ADDED</p>
{% else %}
{% endif %} -->
<table>
    <tr>
    <th>Page Title</th>
    <th>Status</th>
    <th>Content</th>
    <th colspan="2">ACTION</th>
</tr>
  {% for cms_pages in cms %}
  <tr>
    <td>{{ cms_pages.page_title }}</td>
    <td>{{ cms_pages.status }}</td>
    <td>{{ cms_pages.content }}</td>
    <td><a href="/cybercom/php/MVC/public/Admin/CMS/pages/update/{{ cms_pages.cms_id }}">UPDATE</a></td>
    <td><a href="/cybercom/php/MVC/public/Admin/CMS/pages/delete/{{ cms_pages.cms_id }}">DELETE</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}