<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <div>
        <form method="POST" action="/cybercom/php/MVC/public/Admin/CMS/pages/updateData/{{ cms.cms_id }}">
            <div>
                <label>Enter Cms Title:</label><input type="text" name="page_title" value="{{ cms.page_title }}">
            </div>
            <div>
                <label>Enter Cms Status:</label><input type="number" name="status" value="{{ cms.status }}">
            </div>
            <div>
                <label>Enter Cms Content:</label><textarea name="content">{{ cms.content }}</textarea>
            </div>
            <div>
                <input type="submit" value="UPDATE PAGE">
            </div>
        </form>
    </div>
</body>
</html>