{% extends "user.html" %} {% block title %}Home{% endblock %} {% block body %}
<h1>Products</h1>
{% if products==null %}
<h2>No Products Available</h2>
{% else %}

  {% for product in products %}
  <div style="float: left;margin-left: 100px;">
    <div class="content">
      {{product.product_name}}
    </div>
    <div>
      <a href="http://localhost/cybercom/php/MVC/public/productPage/index/{{ product.url_key }}">
        <img
          src="../../../public/image/category/{{ product.image }}"
          width="100px"
          height="100px"
        />
      </a>
    </div>
    <div class="pricecontent">
      <p>Rs {{product.price}}</p>
    </div>
  </div>

  {% endfor %}
<br>
  {% endif %} {% endblock %}
