{% extends "user.html" %} {% block title %}Home{% endblock %} {% block body %}
{% if products==null %}
<h2>No Products Available</h2>
{% else %}
<div style="float: left;margin-right: 100px;height: 500px;">
  <div>
    <img
      src="../../../public/image/category/{{ products.image }}"
      width="400px"
      height="400px"
    />
  </div>
</div>
<div>
  <div>
    <h1>{{products.product_name}}</h1>
  </div>
  <div>
    <h2>{{products.short_description}}</h2>
  </div>
  <div>
    <h3>{{products.description}}</h3>
  </div>
  <div>
    <h4>Rs {{products.price}}</h4>
  </div>
</div>
<div>
  <h3><label>Stock Available</label>
  <select id="quantity">
    {% for i in range(1,products.stock) %}
    <option>{{ i }}</option>
    {% endfor %}
  </select>
</h3>
</div>
<br><br>
<div>
  <button class="dropbtn" onclick="addToCart()">ADD TO CART</button>
</div>
{% endif %}
<script type="text/javascript">
  function addToCart() {
    var stockValue=$('#quantity').val();
    var content = {
      quantity: stockValue,
      productId: "{{ products.product_id }}",
      price:"{{ products.price }}",
      userId: '{{ session.user_Id }}'
    };
    var cart = JSON.stringify(content);
    // console.log(data);
    $.ajax({
      method: "POST",
      url: "http://localhost/cybercom/php/MVC/public/Cart/add",
      data: { data: cart }
    });
    quantityCount();
  }

</script>
{% endblock %}
