<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
 <div>
     <form method="POST" action="/cybercom/php/MVC/public/Admin/index">
         <div>
             <label>Enter Username:</label><input type="text" name="username">
         </div>
         <div>
            <label>Enter Password:</label><input type="text" name="password">
        </div>
        <div>
            <input type="submit" value="LOGIN">
        </div>
     </form>
 </div>   
</body>
</html>