<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <div>
        <form method="POST" action="/cybercom/php/MVC/public/Admin/Productt/addProduct" enctype="multipart/form-data">
            <div>
                <label>Enter Product Name:</label><input type="text" name="product_name">
            </div>
            <div>
                <label>Enter Product Price:</label><input type="number" name="price">
            </div>
            <div>
                <label>Enter Product Stock:</label><input type="number" name="stock">
            </div>
            <div>
                <label>Enter Product Short Description:</label><input type="text" name="short_description">
            </div>
            <div>
                <label>Enter Product Description:</label><textarea name="description"></textarea>
            </div>
            <div>
                <label>Enter Product Image:</label><input type="file" name="image">
            </div>
            <div>
                <label>Select Product Category</label>
                <select name="category">
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            </div>
            <div>
                <input type="submit" value="ADD PRODUCT">
            </div>
        </form>
    </div>
</body>
</html>