 

{% extends "base.html" %} {% block title %}Product{% endblock %} {% block body %}
<h1>Products</h1>
<form method="POST" action="/cybercom/php/MVC/public/Admin/Productt/viewProduct">
  <button>Add Product</button>
</form>
<table>
    <tr>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Stock</th>
    <th>Short Description</th>
    <th>Description</th>
    <th>Image</th>
    <th colspan="2">ACTION</th>
</tr>

  {% for post in posts %}
  <tr>
    <td>{{ post.product_name }}</td>
    <td>{{ post.price }}</td>
    <td>{{ post.stock }}</td>
    <td>{{ post.short_description }}</td>
    <td>{{ post.description }}</td>
    <td><img src="../../../public/image/product/{{ post.image }}" width="100px" height="100px"></td>
    <td><a href="/cybercom/php/MVC/public/Admin/Productt/update/{{ post.product_id }}">UPDATE</a></td>
    <td><a href="/cybercom/php/MVC/public/Admin/Productt/delete/{{ post.product_id }}">DELETE</a></td>
  </tr>
  {% endfor %}
</table>


{% endblock %}



